UltraFighters/[Ll]ibrary/Artifacts/*
UltraFighters/[Ll]ogs/*
UltraFighters/[Tt]emp/*
UltraFighters/[Ll]ibrary/ArtifactDB
UltraFighters/Library/CurrentLayout-default.dwlt
UltraFighters/Library/SceneVisibilityState.asset
UltraFighters/Library/StateCache/*
UltraFighters/Library/EditorInstance.json